.test {
  text-decoration: underline;
}

.rowTest {
  font-weight: bold;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.grid-view td, .grid-view th {
  border: 1px solid #000;
  padding: 12px;
}